<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.p6spy.engine.spy.P6SpyDriver
        </property>
        <!--
                <property name="hibernate.connection.driver_class">
                    org.postgresql.Driver
                </property>
        -->

        <property name="hibernate.connection.sh">
            contacts_owner
        </property><!---->

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/contactsdb
        </property>
        <property name="hibernate.connection.username">
            contacts_owner
        </property>
        <property name="hibernate.connection.password">
            contacts_owner
        </property><!---->

        <!-- List of XML mapping files -->

        <mapping resource="Contact.hbm.xml"/>
        <mapping resource="Address.hbm.xml"/>
        <mapping resource="AddressType.hbm.xml"/>
<!--
        <mapping resource="ContactAddress.hbm.xml"/>
-->

    </session-factory>
</hibernate-configuration>